/*Navigation*/
body {
  overflow-x: hidden;
  margin: 1em !important;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}
@media (max-width: 995px) {
  .textalignleft {
    text-align: left !important;
    padding: 20px;
  }
}
.navbar-custom,
.navbar-brand,
.navbar-toggle {
  padding: 10px;
  margin: 0 !important;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}

.page-scroll {
  font-size: 12px;
}

@media (min-width: 768px) {
  .logo > img {
    padding-top: 10px;
  }
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #000;
  }
  #nav-modified {
    margin-left: 3%;
  }

  .sm-links {
    position: absolute;
  }

  #handle_mainlogo {
    margin-top: 16% !important;
  }
}
@media (max-width: 767px) {
  .logo > img {
    padding-top: 10px;
  }
  .career-btn,
  .sm-links {
    float: right;
  }
  .sm-links {
    float: right;
    position: relative !important;
  }
  .text_handling {
    padding-right: 10px;
    padding-left: 10px;
  }
  #handle_mainlogo {
    margin-top: 30% !important;
  }
}
.desc {
  font-size: small;
  color: rgba(235, 235, 235, 0.589);
  font-weight: 400;
}

.sm-links {
  padding: 10px;
  right: 0;
  top: 0;
  position: absolute;
}

.panel {
  width: 40%;
}
.parallax {
  /* The image used */
  background-image: url("../images/hippies.jpg");

  /* Set a specific height */
  min-height: 98vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  margin-top: 8%;
}
.parallax h1 {
  text-align: bottom;
  color: rgb(0, 0, 0);
}
.parallax h2 {
  margin: 15%;
  font-weight: 800;
}
@media only screen and (max-width: 750px) {
  .panel {
    width: 90%;
  }
  .parallax {
    /* The image used */
    background-image: url("../images/hippies.jpg");

    /* Set a specific height */
    min-height: 60vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax h1 {
    margin-top: 40%;
    font-size: large;
  }
  .parallax h2 {
    margin: 7px;
    font-weight: 800;
    font-size: large;
  }
}
.pinkbtnheading {
  color: #ff005a !important;
}
.pinkbtnheading:hover {
  color: #000 !important;
}
.iframe-yt {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 900px) {
  .iframe-yt {
    width: 100%;
    height: 30em;
  }
}

.facebook-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.facebook-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.underline-a {
  text-decoration: underline !important;
}
@media only screen and (min-width: 1100px) {
  .padding-x {
    padding-left: 20em;
    padding-right: 20em;
  }
}
.highlight {
  background-color: rgb(250, 232, 71);
}

.btn-pink {
  background-color: rgb(253, 0, 97);
  color: white;
}

.header {
  text-align: center;
  padding: 32px;
}

.rowx {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 29%;
  max-width: 45%;
  padding: 0 4px;
}

.column img,
.column div {
  margin-top: 8px;
  vertical-align: middle;
  border: 4px solid rgb(255, 208, 0);
  box-shadow: 3px 4px 5px rgb(114, 114, 114);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

summary {
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.123);
  color: rgb(255, 0, 64);
  padding: 1.4rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.966);
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  text-align: center;
  width: 78%;
}
summary:hover {
  color: #000;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
details > summary::after {
  position: absolute;
  content: "+";
  left: 20px;
}
details > .iconbtn::after {
  position: absolute;
  content: "+";
  left: 20px;
  top: 15px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  left: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}
/*noshow team*/
.summary12 {
  font-size: 1.0rem;
  font-weight: 300;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.123);
  color: #fff;
  padding: 1.4rem;
  margin-bottom: 1rem;
  background-color: rgb(253, 0, 97);;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  text-align: center;
  width: 78%;
}
.summary12:hover {
  color: #000;
}
.details12[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.details12 > .summary12::after {
  position: absolute;
  content: "+";
  left: 20px;
}
.details12 > .iconbtn::after {
  position: absolute;
  content: "+";
  left: 20px;
  top: 15px;
}
.details12[open] > .summary12::after {
  position: absolute;
  content: "-";
  left: 20px;
}
.details12 > .summary12::-webkit-details-marker {
  display: none;
}
/*noshow team end*/
.plus-minus:after,
.plus-minus .collapsed:after {
  display: inline-block;
  width: 1em;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.plus-minus:after {
  content: "-";
  top: -1px;
}
.plus-minus .collapsed:after {
  content: "+";
  top: 0;
}
.faq__content {
  background-color: rgb(239, 236, 236);
  border-radius: 10px !important;
  padding: 25px !important;
  margin: 10px;
  color: rgb(15, 14, 14);
  color:#373737;
}
.crimmage {
  background-color: none;
  border-radius: 10px !important;
  padding: 25px !important;
  margin: 10px;
  color: #000;
}
.apink {
  color: rgb(255, 0, 98);
  font-weight: 900 !important;
  background-color: rgb(255, 217, 0);
}
.apink:hover {
  color: rgb(0, 0, 0);
}
.btns{
  white-space: inherit !important;
}